body {
	background-color: oldlace;
	color: #424242;
}

.body {
	background-color: #fdf5e6;
	color: #424242;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

.jumbotron {
	position: relative;;
	background-color: oldlace;
	color: #424242;
  }

.navbar {
padding-top: 15px;
padding-bottom: 15px;
border: 0;
border-radius: 0;
margin-bottom: 0;
font-size: 18px;
letter-spacing: 5px;
}
 
.navbar-nav li a:hover:not(.active) {
	background-color: #555;
	color: white;
  }
  
footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: #424242;
  }

#main {
	border-left: 2px solid #424242;
	margin-top: 150px;
	font-size: 1.5em;
	font-family: Jost, Times New Roman, serif;
}

.faint {
	color: silver;
}

p {
	margin: 1em;
}

p a {
	color: #727272;
	text-decoration: none;
}

p a:hover {
	color: #929292;
	text-decoration: underline;
}

  
  /*#wrapper {
	position: relative;
	width:100%;
	height:100%;
  }
  
  #clouds{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/56901/bg-clouds2-tinypng.png") repeat-x 0 bottom #ACE6FF;
	height:230px; /*190px
	min-height:230px;
	position: relative;
	top:0;
	left:0;
	z-index:1;
	-webkit-transform:translate3d(0,0,0.01);
	transform:translate3d(0,0,0.01);
  }
  
  #ground {
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/56901/grass_tile-tinypng.png") repeat-x 0 0 transparent;    
	position: absolute;
	bottom: 0;
	left: 0;
	z-index:2;
	width: 100%;
	height: 192px;
	min-height:192px;
	border:0 none transparent;
	outline:0 none transparent;
	-webkit-transform:translate3d(0,0,0.01);
	transform:translate3d(0,0,0.01);
	will-change: transform;
  }*/