body {
	background-color: oldlace;
	color: #424242;
}

.body {
	background-color: #fdf5e6;
	color: #424242;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

.jumbotron {
	background-color: oldlace;
	color: #424242;
  }

.navbar {
padding-top: 15px;
padding-bottom: 15px;
border: 0;
border-radius: 0;
margin-bottom: 0;
font-size: 18px;
letter-spacing: 5px;
}
.navbar-nav  li a:hover {
	color: #1abc9c !important;
}

footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: #424242;
  }

#main {
	border-left: 2px solid #424242;
	margin-top: 150px;
	font-size: 1.5em;
	font-family: Jost, Times New Roman, serif;
}

.faint {
	color: silver;
}

p {
	margin: 1em;
}

p a {
	color: #727272;
	text-decoration: none;
}

p a:hover {
	color: #929292;
	text-decoration: underline;
}
